@tailwind base;
@tailwind components;
@tailwind utilities;


/* * {
  border: 0;
} */

:root {
  --primary: #333431;
  --secondary: #C9EC81;
  --gray_: #EEEEEE;
  --gray_2: #F5F5F5;
  --gray_1: #212121;
  --gray_3: #9E9E9E;
  --disabled: #E0E0E0;
  --disabledText: #BDBDBD;
  --dropdown: #EAEAEA;
  --shadow: #3334314b;
  --gradient_from: #424242;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.kanit-semibold {
  font-family: "Kanit", serif;
  font-weight: 600;
  font-style: normal;
}

.kanit-medium {
  font-family: "Kanit", serif;
  font-weight: 500;
  font-style: normal;
}

.kanit-regular {
  font-family: "Kanit", serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-light {
  font-family: "Kanit", serif;
  font-weight: 300;
  font-style: normal;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}